Proyecto/sitioWeb/App_WebReferences/webService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAdministradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAdministradorResult" type="tns:Administrador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Administrador">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Estadistica" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contraseña" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuLogueo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginJugador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginJugadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginJugadorResult" type="tns:Jugador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Jugador">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="NombrePublico" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AgregarAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="tns:Administrador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarAdministradorResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="tns:Administrador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaAdministradorResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAdministradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAdministradorResult" type="tns:Administrador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="tns:Administrador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarAdministradorResponse">
        <s:complexType />
      </s:element>
      <s:element name="AgregarJugador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="j" type="tns:Jugador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarJugadorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAdministrador" />
  </wsdl:message>
  <wsdl:message name="LoginAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="LoginJugadorSoapIn">
    <wsdl:part name="parameters" element="tns:LoginJugador" />
  </wsdl:message>
  <wsdl:message name="LoginJugadorSoapOut">
    <wsdl:part name="parameters" element="tns:LoginJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarAdministrador" />
  </wsdl:message>
  <wsdl:message name="AgregarAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="BajaAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:BajaAdministrador" />
  </wsdl:message>
  <wsdl:message name="BajaAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:BajaAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAdministrador" />
  </wsdl:message>
  <wsdl:message name="BuscarAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarAdministrador" />
  </wsdl:message>
  <wsdl:message name="ModificarAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarJugadorSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarJugador" />
  </wsdl:message>
  <wsdl:message name="AgregarJugadorSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarJugadorResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="LoginAdministrador">
      <wsdl:input message="tns:LoginAdministradorSoapIn" />
      <wsdl:output message="tns:LoginAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginJugador">
      <wsdl:input message="tns:LoginJugadorSoapIn" />
      <wsdl:output message="tns:LoginJugadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarAdministrador">
      <wsdl:input message="tns:AgregarAdministradorSoapIn" />
      <wsdl:output message="tns:AgregarAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaAdministrador">
      <wsdl:input message="tns:BajaAdministradorSoapIn" />
      <wsdl:output message="tns:BajaAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAdministrador">
      <wsdl:input message="tns:BuscarAdministradorSoapIn" />
      <wsdl:output message="tns:BuscarAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarAdministrador">
      <wsdl:input message="tns:ModificarAdministradorSoapIn" />
      <wsdl:output message="tns:ModificarAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarJugador">
      <wsdl:input message="tns:AgregarJugadorSoapIn" />
      <wsdl:output message="tns:AgregarJugadorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAdministrador">
      <soap:operation soapAction="http://tempuri.org/LoginAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginJugador">
      <soap:operation soapAction="http://tempuri.org/LoginJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAdministrador">
      <soap:operation soapAction="http://tempuri.org/AgregarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaAdministrador">
      <soap:operation soapAction="http://tempuri.org/BajaAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAdministrador">
      <soap:operation soapAction="http://tempuri.org/BuscarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAdministrador">
      <soap:operation soapAction="http://tempuri.org/ModificarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarJugador">
      <soap:operation soapAction="http://tempuri.org/AgregarJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAdministrador">
      <soap12:operation soapAction="http://tempuri.org/LoginAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginJugador">
      <soap12:operation soapAction="http://tempuri.org/LoginJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAdministrador">
      <soap12:operation soapAction="http://tempuri.org/AgregarAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaAdministrador">
      <soap12:operation soapAction="http://tempuri.org/BajaAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAdministrador">
      <soap12:operation soapAction="http://tempuri.org/BuscarAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAdministrador">
      <soap12:operation soapAction="http://tempuri.org/ModificarAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarJugador">
      <soap12:operation soapAction="http://tempuri.org/AgregarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/apiTrivia/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/apiTrivia/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>